@model EmailDto
@{
    Layout = null;
    ViewData["Title"] = "HomePage";
}

<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/select2/select2.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/lib/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body style="background-color:white;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <div class="login100-form-register validate-form">
                    <br />
                    <br />
                    <br />
                    <br />
                    <span class="login100-form-title-register  " style="font-weight: 200">
                        Reset your Password
                    </span>
                    <br />
                    <br />
                    <br />
                    <br />
                    <span class="login100-form-title-register  " style="font-weight: 100; font-size: 14px; text-align: justify;">
                        <p style="margin: 25px;">Enter your user account's verified email address and we will send you a password reset link.</p>
                    </span>

                    @using (Html.BeginForm("PasswordVerify", "Password", FormMethod.Post))

                    {
                        <div style="text-align:center; padding-top:25px;"> @ViewBag.Message</div>

                        <br />
                        <div class="wrap-input100 validate-input" data-validate="Enter Valid Email ">

                            @*<input asp-for=Username type="text" id="username" name="username" required>*@
                            @Html.TextBoxFor(m=>m.To,new{@class="input100",autocomplete = "off", @type="Email"})
                            <span class="focus-input100"></span>
                            <span class="label-input100">Email</span>
                            <span asp-validation-for="To" class="alert-danger" id="Email"></span>

                        </div>
                       

                        <br />
                        <div class="container-login100-form-btn">
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn " onclick="displayalert">Submit</button>
                        </div>
                        if (ViewBag.LoginExistsorNot == 0)
                        {
                            <div class="alert-validate::after" style="text-align:center">

                                <button type="button" class="login100-form-btn " onclick="location.href='@Url.Action("Index","Home")'">Login</button>

                            </div>
                        }
                    }
                </div>
                <div class="login100-more">
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/select2/select2.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/moment.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/lib/countdowntime/countdowntime.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
</body>
</html>
